// Sass variables

//COLORS
$dark-background-color: #232324;
$orange-color: #f49708;
$bright-text-color: #f5f5f5;
$grey-color: #5f5e5d;

//FONTS
$font-merriweather: "Merriweather", serif;
$font-merriweather-sans: "Merriweather Sans", sans-serif;
$font-roboto: "Roboto", sans-serif;
$font-roboto-slab: "Roboto Slab", serif;
